.card-1 {
    
    background-image: url(/img/cards/cards-img-1.jpg);
    @include bg-style;
    max-width: 100%;
}

.card-2 {
    
    background-image: url(/img/cards/cards-img-2.jpg);
    @include bg-style;
    max-width: 100%;
}

.card-3 {
    
    background-image: url(/img/cards/cards-img-3.jpg);
    @include bg-style;
    max-width: 100%;
}